$input_focus_color: #81a9f2;
$font_family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
@font-face {
  font-family: "Open Sans";
  src: url("../public/fonts/fontawesome-webfont.woff2") format("woff2");
}
